.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

.pink{
  background-color:#FFBACF;
  color: white;
  width: 100%;
}

.background-confetti{
  background-image: url('assets/confetti.png');
  background-repeat: repeat;
  color: black;
}

/* --------------------------Fonts poprties-------------------------------*/

.big-heading{
  font-family: 'Leckerli One', cursive;
  text-shadow: 7px 7px 3px rgba(150, 150, 255, 1);
  font-size: 8em;
  text-align: center;
  line-height: 0.75;
  margin: 30vh 0 5vh 0;
}

.medium-heading, .small-heading {
  font-family: 'Clicker Script', cursive;
}

.medium-heading{
  font-size: 5rem;
  text-align: center;
}

.small-heading{
  font-size: 3rem;
}

p{
  font-family: 'Epilogue', sans-serif;
  text-align: left;
}

.text{
  text-align: left;
  font-size: 1rem;
  line-height: 2;
}

.small-text{
  font-size: 0.75rem;
  font-weight: lighter;
  line-height: 1.5;
}


/* --------------------------Introduction section-------------------------------*/

.introduction{
  padding: 15vh 0;
  background-image: url("assets/unicorn.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;


}

.introduction-button{

  border-style: solid;
  border-width: medium;
  border-color: white;

  margin: 5vh;

  font-size: 1.5rem;
  color:white;
  font-family: 'Leckerli One', cursive;
  text-decoration: none;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(150, 150, 255, 1);


  background-color: #FFBACF;

}


.introduction-button:hover{
    background-color: #DBA0B2;
    text-decoration: none;
    color: white;

}

@keyframes jump {
  0% { top: 0; } 50% { top: 5vh; } 100% { top: 0; }
}

.arrow-down {
  position: relative;
  text-align: center;
  animation: jump 2s infinite;
}

.arrow-animation {
  content: '\f0a8';
  transition: .3s ease-in-out;
}


/* --------------------------About section-------------------------------*/

.about{
  padding: 10vh 0;
}

.about-image{
  padding: 2vh;
  width:100%;
}
.about-list{
  list-style: none;
  display: inline;
}

.about-icon{
  display: inline;
  margin: 1vh 5% 0 0;
  color: white;
  text-shadow: 7px 7px 3px rgba(150, 150, 255, 1);
}

.about-arrow{
  color:  #FFBACF;
  position: relative;

  margin-top:-3rem;
  margin-left: 47.5%;
}

/* --------------------------Portfolio section-------------------------------*/

.portfolio{
  padding: 5vh 0;
}

.portfolio-card-background{
  margin:10vh 0 0 0;
  background-color: #cdbaf2;
}

.portfolio-card{
  opacity:0.75;
  width: 100%;
  margin: 10vh 0;
}

.portfolio-card:hover{
  opacity: 1;
}

.portfolio-left{
  margin-left: -5%;
}

.portfolio-right{
  margin-right: -5%;
}

.portfolio-card-btn{
  width: 100%;
  margin-top: 1vh;
}


/* --------------------------Contact section-------------------------------*/

.contact-image{
  width:100%;
  margin-top: 5vh;
  padding: 2vh;
}

.contact-label{
  margin:0;
}

.contact-input{
  border: 0;
  background-color: #cdbaf2;
  opacity: 0.75;
}

.contact-btn{
  width: 30%;
  height: 5vh;
  text-align: center;
}

/* --------------------------Footer section-------------------------------*/
footer{
  height: 20vh;
  background-color: #cdbaf2;
  margin: 10vh 0 0 0;
  padding: 10vh 0 0 0;
}

.footer-text{
  text-align: center;
  color:white;
}

/* --------------------------Mobile and tablet design------------------------------*/

@media (max-width: 600px) {

    .big-heading{
      font-size: 6rem;
      margin: 10vh 0 2vh 0;
    }


  /*------ mobile and tablet introduction section ----*/
    .introduction{
      padding: 1vh 0 ;
      background-image: none;
    }

    .contact-text{
      text-align: left;
    }






 }
