.contact{
  @include section-padding;
  height: 70vh;
  text-align: left;
  display: flex;
  align-items:center;
  
  &_image{
    width: 40%;
    max-height: 50vh;
  }
  &_text-container{
    .heading--medium{
      margin-bottom:$margin;
    }
    .text--small{
      letter-spacing: 0.25vw;
      margin-bottom: 0.25*$margin;
    }
    p{
      margin-bottom: $margin;
      margin-left: 0.5*$margin;
      line-height: 1;
    }
  }
  @include respond-to('smaller'){
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
  }
  @include respond-to('bigger'){
    flex-direction: row;
    text-align: left;
    justify-content: space-evenly;
  }
}