/*colors*/
$color--bg: rgb(255, 186, 207);
$color--comp: rgb(183, 156, 237);
$color--font-light: rgb(245, 245, 245);
$color--font-dark: black;

/*margin&padding*/
$padding: 1vh;
$margin:2.5vh;

 /*fonts*/
  $heading--big:10rem;
  $heading--medium:6rem;
  $heading--small:3rem;

  $text: 1.5rem;
  $text--small:1rem;





